*   {
    padding: 0;
    margin: 0;
    font-family: "Apple Chancery", cursive;
    font-size: 14px;
    }
p {
    padding-top: 2vh;
    background:rgb(184,134,11, 0.5);
    
}
img {
    max-width: 300px;
    max-height: 300px;
}
.conteneur{
    max-width: 600px; 
    position: relative;
    margin-left: auto;
    margin-right:auto;
    vertical-align: middle
}
.conteneur2{
    max-width: 445px; 
    position: relative;
    margin-left: auto;
    margin-right:auto;
}
h1{
    box-shadow: #555;
    padding:1vh;
    font-size: 40px;
    text-align: center;
    font-family: Jazz LET, fantasy;
}
h2{
    padding:4vh;
    font-size: 30px;
    text-align: center;
    color:rgb(112, 5, 5);
    font-family: Jazz LET, fantasy;
}
h3{
    padding:4vh;
    font-size: 25px;
    text-align: center;
    color:rgb(112, 5, 5);
    font-family: Jazz LET, fantasy;
}
h4{
    padding:4vh;
    font-size: 22px;
    text-align: center;
    color:rgb(112, 5, 5);
    font-family: Jazz LET, fantasy;
}
body 
{
    background-color:Cornsilk;
    
}
#tout
{
    margin:0vh 4vw;
    box-shadow: 2px 2px 12px #555;
    background-image:url("PapierVieilli.jpg");
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  .sticky + #tout {
    padding-top: 102px;
  }
header
{   
    height: 5vh;
    position: relative;
    /* max-height: 25vh; */
    /* background-image: linear-gradient(to right, #5400f4, #8238ef, #a05ceb, #b77ee7, #c99fe4, #d3a0dc, #dba2d4, #e0a4cd, #ea82af, #ef5d85, #ea3650, #d80e0e); */
    background-color: rgb(112, 5, 5);
}
/* nav
{
background-color:FireBrick ;
padding:2vh 0;
} */
main
{
    padding:3vh;
}
ul
{
list-style-type: none;
text-align:center;
}
li{
    display: inline-block;
    margin:0 8vh;
    background-color:#d6be95;
    box-shadow:2px 2px 5px #555;

}
a {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
}
/* Horloge */
#montre p {
    font-size: 50px;
    background:none;
}
#montre {
    min-height:12vh;
    min-width:33vh;
    text-align: center;
    padding-top: 5vh;
}
/* Menus
/* .active, .onglet:hover {
    background-color: rgb(112, 5, 5);
/* } */
/* .puce {
    cursor:pointer;
    height:1rem;
    width:1rem;
    margin:O 1rem;
    background-color: #bbb;
    border-radius: 50vh;
    display: inline-block;
    transition: background-color 0.6s ease;
} */

  nav {
    overflow: hidden;
    background-color: rgb(112, 5, 5);
    position: fixed;
    z-index: 10;
    width:90.7vw;
  }
  
  nav #myLinks {
    display: none;
  }
  
  nav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav a.icon {
    float: right;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: rgb(112, 5, 5);
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  nav.fixed{
    position:fixed;
    top:0;
    z-index:1000;
  }
  .fa {
    font: normal normal normal 14px/1 FontAwesome;
  }
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
        
        
            /* Diaporama*/
/* Slideshow container */
#diaporama {
    /* margin-left: auto;
    margin-right:auto;
    width:35vw;
    height: 63vh; */
    max-width: 30vw; 
    position: relative;
    margin-left: auto;
    margin-right:auto;
    vertical-align: middle;

}
.slideshow-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    height: 60vh;
    width: 30vw;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    display: table-cell;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* .diapo-conteneur {
    max-width: 50vw; 
    position: relative;
    margin-left: auto;
    margin-right:auto;
    vertical-align: middle
}
.diapo-conteneur2 {
    max-width: 300px; 
    position: relative;
    margin-left: auto;
    margin-right:auto;
    vertical-align: middle
}
.ma-diapo {
    display:none;
}
.ma-diapo img {
max-width: 50vw;
max-height: 50vh;
display: block;
margin-left: auto;
margin-right: auto
}

/* Bouton Diapo */

.avant, .arrière
{
    color:black;
    cursor:pointer;
    position: absolute;
    top:50%;
    width:auto;
    font-size:2rem;
    border-radius: 0 3px 3px 0;
    user-select:none;
    padding:0.2rem 3rem;
    margin-left:auto;
    margin-right:auto; 

}
.avant {
right:0;

}
.avant:hover, .arrière:hover{
    background-color: blue;
}
@keyframes fade {
    from {opacity: 4}
    to {opacity: 1}
}
/* Diapo auto */
/* 
.diapoauto {
    display:none;
    margin-left:auto;
    margin-right:auto;
}
.diapoauto img {
max-width: 50vw;
max-height: 50vh;
display: block;
margin-left: auto;
margin-right: auto
} */
/* Formulaire */
fieldset
{
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
}
form {
    text-align: center;
}
/* ecrans responsive*/
@media all and (max-width: 1024px) 
    {
    #tout {
        margin:0;
    }
    li {
        margin:0;
    }
    main {
        padding:0;
    }
    #montre p {
        padding:0;
        background:none;
    }
    nav {
        width:100vw;
    }
    h1{
        padding-top:4vh;
    }

    #diaporama {
        width:100vw;

}