<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Contactez-nous</title>
        <meta name="description" content= "Familles capetiens" />
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="lys.png"/>
    </head>
    <body onload="activeOnglet('form'); showSlides(1);">
        <div id=tout>
            <% include ../base/header %>
        <main>
                <h1>La Dynastie Des Capétiens</h1>
             <!-- Horloge -->
            <section id= "montre">

            </section>

            
                  <!-- Diaporama img -->
                <!-- <div class=diapo-conteneur>

                     <div class="ma-diapo fade">
                        <img src= "les-capetiens/hugues-capet-01.jpg" alt="Portrait de Hugues Capet">
                </div>
                
                    <div class="ma-diapo fade">
                        <img src= "les-capetiens/hugues-capet-02.jpg" alt="Portrait de Hugues Capet">
                    </div>
                
                    <div class="ma-diapo fade">
                        <img src="les-capetiens/hugues3.jpg" alt="Portrait de Hugues Capet" >
                
                    </div>
                                        
                    <a class="arrière" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="avant" onclick="plusSlides(1)">&#10095;</a>
                 -->
                
                                        
                <!-- </div> -->
                <!-- <body onload="showSlides(1);"> -->
                    <!-- Slideshow container -->
                    <div id="diaporama">
                    <div class="slideshow-container">
                   
                       <!-- Full-width images with number and caption text -->
                       <div class="mySlides fade">
                         <div class="numbertext">1 / 8</div>
                         <img src="img1.jpg">
                       </div>
                     
                       <div class="mySlides fade">
                         <div class="numbertext">2 / 8</div>
                         <img src="img2.jpg">
                       </div>
                     
                       <div class="mySlides fade">
                         <div class="numbertext">3 / 8</div>
                         <img src="img3.png">
                       </div>
                   
                       <div class="mySlides fade">
                           <div class="numbertext">4 / 8</div>
                           <img src="img4.jpg">
                         </div>
                   
                         <div class="mySlides fade">
                           <div class="numbertext">5 / 8</div>
                           <img src="img5.jpg">
                         </div>
                   
                         <div class="mySlides fade">
                           <div class="numbertext">6 / 8</div>
                           <img src="img6.jpg">
                         </div>
                   
                         <div class="mySlides fade">
                           <div class="numbertext">7 / 8</div>
                           <img src="img7.jpg">
                         </div>
                   
                         <div class="mySlides fade">
                           <div class="numbertext">8 / 8</div>
                           <img src="img8.jpg">
                         </div>
                     
                       <!-- Next and previous buttons -->
                       <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                       <a class="next" onclick="plusSlides(1)">&#10095;</a>
                     </div>
                    </div>
                <br>
                <!-- <div style="text-align:center">
                <span class="puce" onclick="currentSlide(1)"></span>
                <span class="puce" onclick="currentSlide(2)"></span>
                <span class="puce" onclick="currentSlide(3)"></span>
                </div> -->

            <form method="POST" action="/">

                    <fieldset>
                    <label for="nom">Nom :</label>
                    <input type="text" id="nom" name="nom" required>
                    
                    <br>

                    <label for="prenom">Prénom :</label>
                    <input type="text" id="firstname" name="prenom" required>

                    <br>

                    <label for="naissance">Date de naissance :</label>
                    <input type="date" id="naissance" name="date_naissance" required>
                        
                    <br>

                    <label for="adresse">Adresse :</label>
                    <input type="text" id="adresse" name="adresse" required>
                    <br>
                    <label for="zipcode">Code Postal :</label>
                    <input type="text" id="zipcode" name="zipcode" required>
                    
                    <br>

                    <label for="city">Ville :</label>
                    <input type="text" id="city" name="user_city" required>

                    <br>

                    <label for="mail">e-mail :</label>
                    <input type="mail" id="mail" name="user_mail" required>

                    <br>

                    <label for="tel">Télephone :</label>
                    <input type="phone" id="tel" name="tel" required>

                    <input type="submit" value="Envoyer">

                </fieldset>

            </form>

        </main>


        <% include ../base/footer %>
        </div>
        <script type='text/javascript' src='script.js'></script>

    </body>
</html>