<header id = "myHeader">
            
            <nav>

    <!-- Top Navigation Menu -->
    <div id="ong">
            <a href="/" class="onglet">Les Capétiens</a>
            <div id="myLinks">
              <a href="Hugues" class="onglet">Hugues Capet</a>
              <a href="louisix" class="onglet">Louis IX</a>
              <a href="auguste" class="onglet">Philippe Auguste</a>
              <a href="philippeiv" class="onglet">Philippe IV le Bel</a>
              <a href="contact" class="onglet">Contactez-nous</a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fas fa-bars"></i>
            </a>
          </div>
    
        </nav>
        </header>